In [1]:
import os
import cv2
import os
import numpy as np
import pandas as pd 
import warnings 
warnings.filterwarnings('ignore')

In [2]:
files=os.mkdir(r"C:\Users\Shree\Desktop\opencv1")

In [4]:
for i in range(1,6):
    os.mkdir(r"C:\Users\Shree\Desktop\opencv1\{}".format(i))

In [8]:
v2 =cv2.VideoCapture(0)
count=0
while True:
    count=count+1
    su,img=v2.read()
    cv2.imshow("vide
               o",img)
    
    cv2.imwrite(r"C:\Users\Shree\Desktop\opencv1\\{}.jpg".format(count),img)
    if cv2.waitKey(1)==ord("q"):
        break
cv2.destroyAllWindows()

In [2]:
os.chdir(r"C:\Users\Shree\Desktop\opencv1\\1")
files1 = os.listdir()
one=pd.DataFrame()
l1=[]
for i in files1:
    image=cv2.imread(r"C:\Users\Shree\Desktop\opencv1\\1\\"+i)
    l1.append(image.flatten().tolist())

In [3]:
one=pd.DataFrame(l1)
one["label"]="one"
one

,0,1,2,3,4,5,6,7,8,9,...,921591,921592,921593,921594,921595,921596,921597,921598,921599,label
0,113,126,124,112,125,123,110,124,122,108,...,101,90,92,106,92,94,108,94,95,one
1,115,126,118,115,126,118,114,126,120,113,...,96,91,93,104,97,100,109,102,105,one
2,111,129,130,109,127,128,107,125,124,106,...,141,124,127,145,124,132,147,126,134,one
3,108,127,118,107,126,117,108,125,116,110,...,142,120,122,150,127,131,150,127,131,one
4,107,123,122,110,124,123,112,124,126,117,...,146,125,127,148,126,128,151,129,131,one
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209,116,127,125,118,126,125,120,126,125,121,...,139,124,121,145,129,123,147,131,125,one
210,116,121,120,118,123,122,118,123,122,116,...,142,123,118,147,129,122,151,133,126,one
211,114,122,111,116,126,114,112,127,119,109,...,142,124,125,147,126,129,147,126,129,one
212,115,129,118,115,129,118,114,128,117,113,...,142,121,123,147,126,125,151,130,129,one
213,100,123,125,100,123,125,103,123,124,106,...,141,116,120,151,124,128,153,126,130,one

In [5]:
os.chdir(r"C:\Users\Shree\Desktop\opencv1\\2")
files1 = os.listdir()

l2=[]
for i in files1:
    image=cv2.imread(r"C:\Users\Shree\Desktop\opencv1\\2\\"+i)
    l2.append(image.flatten().tolist())

In [6]:
two=pd.DataFrame(l2)
two["label"]="two"
two

,0,1,2,3,4,5,6,7,8,9,...,921591,921592,921593,921594,921595,921596,921597,921598,921599,label
0,106,123,120,107,124,121,108,125,122,108,...,139,115,117,140,115,119,140,115,119,two
1,102,123,121,103,124,122,110,126,125,112,...,131,110,109,135,112,110,136,113,111,two
2,102,121,128,101,121,126,103,122,125,105,...,25,38,40,28,39,37,30,41,38,two
3,108,123,125,109,124,126,111,123,123,110,...,35,41,52,34,39,54,34,38,56,two
4,112,126,115,112,128,117,113,127,121,112,...,68,53,67,71,52,67,71,52,67,two
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,106,123,132,107,125,132,108,127,134,109,...,52,62,80,52,61,81,51,62,82,two
211,108,125,114,109,126,115,110,127,118,109,...,54,56,57,53,53,59,54,54,60,two
212,110,123,115,112,125,117,112,126,120,114,...,42,54,54,42,53,57,41,52,56,two
213,117,123,118,117,123,118,117,122,120,117,...,30,44,50,31,42,50,33,42,52,two
214,103,129,123,103,129,123,105,129,121,104,...,25,39,58,24,37,59,21,35,57,two

In [7]:
os.chdir(r"C:\Users\Shree\Desktop\opencv1\\3")
files1 = os.listdir()

l3=[]
for i in files1:
    image=cv2.imread(r"C:\Users\Shree\Desktop\opencv1\\3\\"+i)
    l3.append(image.flatten().tolist())

In [8]:
three=pd.DataFrame(l3)
three["label"]="three"
three

,0,1,2,3,4,5,6,7,8,9,...,921591,921592,921593,921594,921595,921596,921597,921598,921599,label
0,113,123,107,113,124,108,112,122,109,110,...,63,65,73,63,62,71,62,60,66,three
1,117,119,119,117,120,118,118,121,119,118,...,56,58,66,59,58,68,59,58,68,three
2,109,122,120,112,126,122,114,125,122,112,...,92,84,101,93,82,102,93,81,101,three
3,112,129,120,109,128,119,109,128,119,107,...,88,82,101,88,82,101,86,80,97,three
4,112,127,119,115,130,122,116,131,123,115,...,86,83,108,86,81,108,83,78,107,three
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
188,118,123,121,120,125,123,121,126,124,119,...,86,85,101,85,83,102,82,82,100,three
189,100,126,112,101,127,113,105,128,113,107,...,77,86,100,75,86,100,73,84,98,three
190,122,129,124,119,126,121,119,126,121,121,...,87,81,100,88,79,99,88,80,97,three
191,125,125,131,124,125,129,122,125,129,120,...,76,87,101,75,83,100,74,82,99,three
192,117,122,120,117,122,120,118,124,119,119,...,87,86,106,83,85,103,79,81,99,three

In [9]:
os.chdir(r"C:\Users\Shree\Desktop\opencv1\\4")
files1 = os.listdir()

l4=[]
for i in files1:
    image=cv2.imread(r"C:\Users\Shree\Desktop\opencv1\\4\\"+i)
    l4.append(image.flatten().tolist())

In [13]:
four=pd.DataFrame(l4)
four["label"]="four"
four

,0,1,2,3,4,5,6,7,8,9,...,921591,921592,921593,921594,921595,921596,921597,921598,921599,label
0,119,125,114,119,124,115,118,125,118,119,...,176,152,152,178,152,152,178,152,152,four
1,117,125,118,118,126,119,114,124,118,110,...,176,152,152,179,152,155,179,152,155,four
2,114,129,115,113,128,114,114,125,115,116,...,53,57,81,55,59,84,56,59,87,four
3,105,123,124,101,119,120,99,117,116,101,...,49,64,80,47,63,76,44,60,73,four
4,106,126,113,105,125,112,108,124,113,111,...,64,59,80,59,56,78,57,54,76,four
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142,108,124,117,110,124,118,113,125,119,117,...,50,63,85,47,62,81,52,67,86,four
143,109,123,119,109,123,119,109,123,119,110,...,52,59,79,52,59,79,51,58,78,four
144,110,124,122,111,125,123,113,126,124,112,...,49,59,76,52,62,80,52,64,82,four
145,125,122,124,121,120,122,121,120,122,119,...,45,63,92,43,62,89,39,60,87,four
146,104,127,119,106,127,119,113,127,123,119,...,47,62,78,49,61,79,51,63,81,four

In [10]:
os.chdir(r"C:\Users\Shree\Desktop\opencv1\\5")
files1 = os.listdir()
l=[]
for i in files1:
    image=cv2.imread(r"C:\Users\Shree\Desktop\opencv1\\5\\"+i)
    l.append(image.flatten().tolist())

In [11]:
five=pd.DataFrame(l)
five["label"]="five"
five

,0,1,2,3,4,5,6,7,8,9,...,921591,921592,921593,921594,921595,921596,921597,921598,921599,label
0,97,124,121,98,123,119,100,123,119,104,...,172,143,146,172,143,146,171,142,145,five
1,106,122,121,107,121,120,111,124,122,114,...,167,143,137,167,144,136,167,145,134,five
2,94,125,122,96,125,122,99,126,122,103,...,123,135,117,123,135,117,127,139,119,five
3,121,126,117,119,124,115,118,126,116,119,...,125,131,120,124,131,118,126,133,120,five
4,123,120,115,122,122,116,123,123,117,119,...,120,130,118,128,135,122,123,130,115,five
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212,110,117,114,116,123,120,114,124,118,110,...,123,132,119,123,131,120,125,133,122,five
213,116,127,119,118,129,121,115,127,121,112,...,127,132,123,127,132,123,125,133,123,five
214,123,124,114,119,122,113,118,120,114,115,...,119,133,122,117,133,122,116,132,121,five
215,129,127,116,130,130,118,124,125,116,116,...,124,128,122,128,130,124,129,131,125,five
216,117,129,107,116,128,106,114,126,108,111,...,111,128,114,115,134,117,115,134,117,five

In [14]:
data1=pd.concat([one,two,three,four,five])

In [15]:
data1

,0,1,2,3,4,5,6,7,8,9,...,921591,921592,921593,921594,921595,921596,921597,921598,921599,label
0,113,126,124,112,125,123,110,124,122,108,...,101,90,92,106,92,94,108,94,95,one
1,115,126,118,115,126,118,114,126,120,113,...,96,91,93,104,97,100,109,102,105,one
2,111,129,130,109,127,128,107,125,124,106,...,141,124,127,145,124,132,147,126,134,one
3,108,127,118,107,126,117,108,125,116,110,...,142,120,122,150,127,131,150,127,131,one
4,107,123,122,110,124,123,112,124,126,117,...,146,125,127,148,126,128,151,129,131,one
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212,110,117,114,116,123,120,114,124,118,110,...,123,132,119,123,131,120,125,133,122,five
213,116,127,119,118,129,121,115,127,121,112,...,127,132,123,127,132,123,125,133,123,five
214,123,124,114,119,122,113,118,120,114,115,...,119,133,122,117,133,122,116,132,121,five
215,129,127,116,130,130,118,124,125,116,116,...,124,128,122,128,130,124,129,131,125,five
216,117,129,107,116,128,106,114,126,108,111,...,111,128,114,115,134,117,115,134,117,five

In [16]:
data1.head()

,0,1,2,3,4,5,6,7,8,9,...,921591,921592,921593,921594,921595,921596,921597,921598,921599,label
0,113,126,124,112,125,123,110,124,122,108,...,101,90,92,106,92,94,108,94,95,one
1,115,126,118,115,126,118,114,126,120,113,...,96,91,93,104,97,100,109,102,105,one
2,111,129,130,109,127,128,107,125,124,106,...,141,124,127,145,124,132,147,126,134,one
3,108,127,118,107,126,117,108,125,116,110,...,142,120,122,150,127,131,150,127,131,one
4,107,123,122,110,124,123,112,124,126,117,...,146,125,127,148,126,128,151,129,131,one